doctype html
html
  head
    title Movie Search
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Search for a Movie
    form(action='/film', method='POST')
      p
        label(for='title') Title:
        input(name='title', type='text', required)
      button(type='submit') Search


